.page-controls
  kathra-control.applications([routerLink]="['applications']" fragment="components", [label]="'applications'")
  kathra-control.environments([routerLink]="['environments']", [label]="'environments'")
  kathra-control.catalogue([routerLink]="['catalog']", [label]="'catalogue'")
    kathra-catalogue-explorer
  kathra-control.datasources([routerLink]="['datasources']", [label]="'data sources'")
.page.sidebar-container.kathraSidebarHost([@routerAnimations]="prepareRouteTransition(outlet)")
  .kathraSidebarBackground([kathraSidebarBackground]) 
  router-outlet(#outlet="outlet")
  kathra-sidebar(id="sb_catalogue-explorer")
    kathra-catalogue-explorer