.builds-table{
  width: 100%;

  .ui.special.loader {
    position: absolute;
    left: -20px;
    transform: translate(-100%, -50%);
  }
}

.builds-table table tbody tr:hover {
  background-color: rgba(0,0,50,.1);
  cursor: pointer;
}