.dashboard
  .widget.applications
    a.label([routerLink]="['/kathra/applications']" fragment="components")
      .text APPLICATIONS
    .description
      | Create and build your applications through Kathra Factory
    //.featured.apps.list
      .title
        i.empty.heart.icon
        | {{ 'recommandé' | uppercase }}
      kathra-app(*ngFor="let a of favoriteApps", [appId]="a.id", [display]="'compact'")

  .widget.environments
    a.label([routerLink]="['/kathra/environments']")
      .text ENVIRONMENTS
    .description
      | Compose and deploy your enviroments [Available for next release]
    //.featured.envs.list
      .title
        i.empty.heart.icon
        | {{ 'recommandé' | uppercase }}
      kathra-app(*ngFor="let a of favoriteApps", [appId]="a.id", [display]="'compact'")

  .widget.catalog
    a.label([routerLink]="['/kathra/catalog']")
      .text CATALOG
    .featured.catalog.apps.list
      .title
        | View service catalog and experiment them
      kathra-app(*ngFor="let a of favoriteApps", [appId]="a.id", [display]="'compact'")

  .widget.data
    a.label([routerLink]="['/kathra/datasources']")
      .text DATA SOURCES
    .description
      | Browse and explore data sources [Not available]
    //.featured.datasrcs.list
      .title
          i.empty.heart.icon
          | {{ 'recommandé' | uppercase }}
      kathra-app(*ngFor="let a of favoriteApps", [appId]="a.id", [display]="'compact'")