$env-applications-color: #9FBCBB;
$env-environments-color: #A7BC99;
$env-datasources-color: #BC9F9F;
$env-catalog-color: #C9BB7D;
$kathra-logo-background-color: #393939;
$kathra-logo-foreground-color: #004C56;