form([formGroup]="basicInfoForm")
  .content
    .title NEW CATALOG ENTRY 
    a.cancel.control([routerLink]="['/kathra', 'catalog']")
      .icon X
      .text Cancel
    .form
      .row
        .col
          label(for="template") Step 1 - Select a template
          select((change)="selectTemplate($event.target.value)" name="template")
            option(selected value="") Choose a template
            option(*ngFor="let template of templates", [value]="template.name") {{ template.label }}


        .col(*ngIf="templateSelected")
          label(for="templateArguments" ) Step 2 - Configure template
          .argument(*ngFor="let argument of templateSelected.arguments")
            div([ngSwitch]="argument.key")
              .row(*ngSwitchCase="'NAME'")
                label(for="{{argument.key}}" ) {{ argument.label | titlecase }}
                input(formControlName="{{argument.key}}" type="text" name="{{argument.key}}" )
              .row(*ngSwitchCase="'DESCRIPTION'")
                label(for="{{argument.key}}" ) {{ argument.label | titlecase }}
                input(formControlName="{{argument.key}}" type="text" name="{{argument.key}}" )
              .row(*ngSwitchCase="'GROUP_PATH'")
                label(for="{{argument.key}}" ) Team
                select(formControlName="{{argument.key}}" name="{{argument.key}}" )
                  option(*ngFor="let group of groups", [value]="group.path") {{ group.name }}
              .row(*ngSwitchCase="'IMPLEMENTATION_ID'")
                label(for="{{argument.key}}" ) Implementation
                select((change)="selectImplementation($event.target.value)" formControlName="{{argument.key}}" name="{{argument.key}}" )
                  option(selected value="") Choose an implementation
                  option(*ngFor="let implementation of implementations", [value]="implementation.id") {{ implementation.name }}
              .row(*ngSwitchCase="'IMPLEMENTATION_VERSION'")
                label(for="{{argument.key}}" ) Implementation's Version
                select(formControlName="{{argument.key}}" name="{{argument.key}}" )
                  option(selected value="") Choose a version
                  option(*ngFor="let v of implementationVersions", [value]="v.id") {{ v.version }}
              .row(*ngSwitchDefault)
                label(for="argument.key" ) {{ argument.label | titlecase }}
                input( type="text" id="argument.key" name="argument.name")

      .row(*ngIf="this.catalogEntryCreated")
        .col
          .row
            .label Status :
            .strong.value {{ catalogEntryCreated.status }}
          .row
            .PENDING(*ngIf="this.kathraStatus.isCreating(this.catalogEntryCreated)")
              .status.green.loader
              span.label This operations may take a few minutes.    
            .READY(*ngIf="this.kathraStatus.isReady(this.catalogEntryCreated)")
              i.status.info.green.checkmark.icon
              span.label Catalog entry is created
            .READY(*ngIf="this.kathraStatus.isError(this.catalogEntryCreated)")
              i.status.info.red.remove.icon
              span.label An error occured
    .controls
      .button.hidden
      .button.hidden
      .button.tbc((click)="addEntry()", [ngClass]="{'disabled': !isValidForm() || submiting}")
        span.text ADD ENTRY INTO CATALOG
        i.right.chevron.icon