.kathra-control((contextmenu)="handleRightClick($event)")
  //- .icon-wrapper((click)="toggleSidebar($event)")
    i.black.list.layout.icon
  .content
    .text {{ label | uppercase }}
.sidebar-control